# Object files

*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.o

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/basic_shell/shell
src/remote_server/server
src/client
src/server
src/shell

# Python cache
__pycache__
*.egg-info

# Debug files
*.dSYM/

# macOS shit
.DS_Store

# ide files
.vscode
.idea

