# Object files

*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
c/basic_shell/shell
c/remote_server/server
c/client
c/server
c/shell

# Python cache
__pycache__

# Debug files
*.dSYM/

# macOS shit
.DS_Store

# ide files
.vscode
.idea

