<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.coretelephony</string>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.locationd.preauthorized</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.defaults_access</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>com.apple.driver.AppleBluetoothModule.user-access</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceLocation</string>
		<string>kTCCServiceBluetoothPeripheral</string>
		<string>kTCCServiceScreenCapture</string>
	</array>
	<key>com.apple.private.icfcallserver</key>
	<true/>
	<key>com.apple.private.communicationsfilter</key>
	<true/>
	<key>com.apple.coretelephony.Calls.allow</key>
	<true/>
	<key>com.apple.CallKit.call-directory.extension-host</key>
	<true/>
	<key>com.apple.callkit</key>
	<array>
		<string>private-controller-api</string>
	</array>
	<key>com.apple.CallKit.call-directory</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>phone</string>
		<string>voice</string>
		<string>spi</string>
	</array>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.get-client-port</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.private.read-environment-variables</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>*</string>
	</array>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
</dict>
</plist>
