construct>=2.9.29
click
coloredlogs
IPython
traitlets
cached-property
dataclasses; python_version<"3.7"
pygments
objc_types_decoder
pycrashreport>=1.0.2
lief
capstone<5.0.0
xonsh
plumbum
pygnuutils
tqdm
osstatus>=1.0.2
parameter-decorators
requests
